#footer_deal
  a.deal_link(href="mailto:1982989137@qq.com" title="mail")
    i.iconfont.icon-youxiang1
  a.deal_link(href="https://res.abeim.cn/api/qq/?qq=1982989137" title="qq" target="_blank")
    i.iconfont.icon-qq1
  a.deal_link(href="https://weibo.com/flow2000" title="微博" target="_blank")
    i.iconfont.icon-weibo
  a.deal_link(href="https://github.com/flow2000" title="github"  target="_blank")
    i.iconfont.icon-github
  img.footer_mini_logo.entered.loading(style="border-radius:50%" src='/img/avatar.png' onclick="btf.scrollToDest(0,500)" title="返回顶部" alt="返回顶部")
  a.deal_link(href="/" title="主页" target="_blank")
    i.iconfont.icon-zhuye
  a.deal_link(href="https://travellings.cn/" title="开往-随机跳转另一个加入开往的网页" target="_blank")
    i.fas.fa-train.fa-fw
  a.deal_link(href="/comment/" title="留言" target="_blank")
    i.iconfont.icon-liuyan
  a.deal_link(href="/atom.xml" title="rss" target="_blank")
    i.iconfont.icon-rss
#Jay-footer
  .footer-group
    h3.footer-title 直达
    .footer-links
      a.footer-item(href="/" target="_blank") 我的主页
      a.footer-item(href="javascript:toRandomPost();") 随机文章
      a.footer-item(href="https://pan.shinie.top" target="_blank") 个人云盘
      a.footer-item(href="https://bing.shinie.top" target="_blank") 必应壁纸
  .footer-group
    h3.footer-title 分类
    .footer-links
      a.footer-item(href="/categories/优秀文章/") 优秀文章
      a.footer-item(href="/categories/博客搭建/") 博客搭建
      a.footer-item(href="/categories/学习笔记/") 学习笔记
      a.footer-item(href="/categories/实用教程/") 实用教程
      a.footer-item(href="/categories/总结/") 总结
  .footer-group
    h3.footer-title 友链
    .footer-links#friend-links-in-footer
      a.footer-item(href="https://blog.zhheo.com/" target="_blank") 张洪Heo
      a.footer-item(href="https://zfe.one/" target="_blank") 小冰博客
      a.footer-item(href="https://blog.leonus.cn/" target="_blank") Leonus
      a.footer-item(href="http://zhangshier.vip/" target="_blank") 张时贰
      a.footer-item(href="/links/" target="_blank") 查看更多
  .footer-group
    h3.footer-title 关于
    .footer-links
      a.footer-item(href="/about/") 关于我
      a.footer-item(href="/about/#博客统计") 博客统计
      a.footer-item(href="/archives/") 文章归档
      a.footer-item(href="/history/") 建站记录
#footer-banner
  .footer-banner-links
    .footer-banner-left
      .footer-banner-left
        #footer-banner-tips

    .footer-banner-right
      a.footer-banner-link(href="https://beian.miit.gov.cn/" title="备案") 桂ICP备2021004373号-4
      a.footer-banner-link(href="https://hexo.io/zh-cn/" title="Hexo") 框架
      a.footer-banner-link |
      a.footer-banner-link(href="https://github.com/jerryc127/hexo-theme-butterfly" title="theme") 主题
      a.footer-banner-link |
      a.footer-banner-link(href="/atom.xml" title="RSS") 订阅
      a.footer-banner-link |
      a.footer-banner-link(href="/about/" title="about") 关于
      a.footer-banner-link